@use 'sass:color';

$white: hsl(240, 12%, 90%);
$dim-white: hsl(240, 12%, 68%);

$dark-surface-0: hsl(214, 25%, 17%);
$dark-surface-1: hsl(216, 17%, 23%);
$dark-surface-2: hsl(217, 11%, 33%);

$accent: hsl(210, 75%, 50%);
$accent-hover: hsl(207, 72%, 39%);
